.error-page-container {
    margin: 0 auto;
    width: 70%;
    height: 80vh;
    background-image: url("../../assets/404_page_cover.jpg");
    background-size: cover;
    background-position: center;
}